.sidebar{
    position: fixed;
    left: 0px;
    bottom:0px;
    top: 55px;
    width: 72px;
    background-color: white;
    z-index: 200;
    padding-top: 5px;
}
.sidebar-link{
    height: 74px;
    cursor: pointer;
    display: flex;
    /* Horizontal center */
    justify-content: center; 
    /* Vertical center */
    align-items: center;
    /* Align the items in column not in row */
    flex-direction: column;
}

.sidebar-link:hover{
    background-color: rgba(236, 236, 236, 0.89);
}
.sidebar-link img{
    height: 24px;
    margin-bottom: 5px;
}

.sidebar-link div{
    font-size: 10px;
    display: flex;
}
@media (max-width: 1200px) {
    .sidebar {
      position: fixed;
      left: 0;
      bottom: 0;
      top: 55px;
      background-color: white;
      width: 72px;
      z-index: 200;
      padding-top: 5px;
    }
  
    .sidebar-link {
      height: 74px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
    }
  
    .sidebar-link:hover {
      background-color: rgb(235, 235, 235);
    }
  
    .sidebar-link img {
      height: 24px;
      margin-bottom: 4px;
    }
  
    .sidebar-link div {
      font-family: Roboto, Arial;
      font-size: 10px;
    }
  }
  
  @media (min-width: 1200.1px) {
    .sidebar {
      position: fixed;
      left: 0;
      bottom: 0;
      top: 49px;
      background-color: white;
      width: 240px;
      z-index: 200;
    }

    .sidebar-link{
        height: 74px;
        cursor: pointer;
        display: flex;
        justify-content: left; 
        align-items: center;
        flex-direction: row;
        padding-left: 24px;
    }
    .sidebar-link:hover {
        background-color: rgb(235, 235, 235);
      }
    
      .sidebar-link img {
        height: 24px;
        margin-right: 24px;
      }
      .sidebar-link div {
        font-family: Roboto, Arial;
        font-size: 14px;
      }
  }